$paragraph-text: 1em;
$blue: #3E4F60;
$slate: #4D6479;
$light-blue: #BBCADA;
$tan: #F0EEE1;
$vermillion: #F26144;
$dark-blue: #2b3948;
$text: #52504F;

$screen-xlarge: 1600px;
$screen-large: 1200px;
$tablet-large: 1024px;
$tablet-med-large: 980px;
$nav-break: 995px;
$mobile-large: 812px;
$mobile-med: 667px;
$mobile-sm: 568px;
$mobile-xsm: 480px;
$mobile-zero: 0px;